# ===============================
# Java / Maven / Spring Boot
# ===============================

/target/
/src/test/
*.class
*.jar
*.war
*.ear

# Maven
/.mvn/
!/.mvn/wrapper/maven-wrapper.jar
log/
*.log
*.tmp

# VSCode
/.vscode/

# ===============================
# PostgreSQL / Database files
# ===============================

# pgAdmin backups
*.backup
*.sql~       # temporary editor files

# local dump files
*.dump
*.db

# ===============================
# OS / Misc
# ===============================

# Windows
Thumbs.db